h1 {
  text-align: center;
}
html {
  background-color: #fba67d;
  color: #444444;
  font-family: 'Quicksand', sans-serif;
}
.search {
  margin: 0 auto;
  text-align: center;
  padding: 100px;
}
a {
  text-decoration: none;
  color: #fba67d;
}
