html {
  background-color: #fba67d;
  color: #444444;
  font-family: 'Quicksand', sans-serif;
}

.iSearches {
  border: solid;
  border-color: #444444;
  display: inline-block;
  width: 45%;
  margin: 0 auto;
  text-align: center;
}
h1 {
  text-align: center;
}
