html {
  background-color: #fba67d;
  color: #444444;
  font-family: 'Quicksand', sans-serif;
}
.iSearches {
  border: solid;
  border-color: #444444;
  display: inline-block;
  width: 47%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  background-color: #FBB5A3;
}
h1 {
  text-align: center;
}
a {
  color: #444444;
  text-decoration: underline;
}
#login a {
  color: #fba67d;
  text-decoration: none;
}
