<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="resources/navbar.css">
    <link rel="stylesheet" href="resources/main.css">
    <link rel="stylesheet" href="resources/aboutUs.css">
    <title>MyFridge</title>
  </head>
  <body>
    <div id="login">
      <a href="/login">{{logon}}</a>
    </div></br></br>
    <h1>About Us</h1>
    <div class="store_nav">
      <div id="disappear_ul">
        <div id="home">
          <a href="/">Home</a>
        </div>
        <div id="recipes">
          <a href="/search">Recipes</a>
        </div>
        <div id="map">
          <a href="/restaurants">Map</a>
        </div>
        <div id="about">
          <a href="/about-us">About us</a>
        </div>
      </div>
    </div>
    <div style="clear:both;"></div></br></br>
    <div id="info">
      <h3>Stevie</h3>
      <p>Hey! My name is Stevie Askew, and I live in Chicago, Illinois. I am an incoming freshman at Northwestern University (GO CATS!!!), but haven't decided on my major yet. CSSI has taught me everything I know about computer science, and I can't wait to discover more in college. </p>
    </div>
    <div id="info">
      <h3>Dimitri</h3>
      <p>Whats up! I'm Dimitri and this fall I’ll be studying Computer Science at University of Illinois at Chicago! CSSI has taught me so much and It's pushed my passion for computer science into overdrive. I'm excited to continue my passion for programming and I can't wait to learn more in college.</p>
    </div>
    <div id="info">
      <h3>Patrycja</h3>
      <p>Hey everyone! I'm an incoming freshman at Yale University, and my residential college there is Pauli Murray College. I plan to study Computer Science and Economics, but I may swap Economics with Data Science. I'm from Hickory Hills, Illinois, but I was born in Przemysl, Poland. I'm excited to start the school year and take more CS classes! </p>
    </div></br></br>
    <!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59838ceff1fd6d93"></script>
  </body>
</html>
