<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <script src="resources/navbar.js"></script>
    <link rel="stylesheet" href="resources/navbar.css"></link>
    <link rel="stylesheet" href="resources/main.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  </head>
<head>
</head>
  <body>
    <div id="login">
      <a href="/login">Login</a>
    </div></br></br>
    <h1>Future Title</h1>
    <div class="store_nav">
      <div id="disappear_ul">
        <div id="home">
          <a href="/">Home</a>
        </div>
        <div id="recipes">
          <a href="/search">Recipes</a>
        </div>
        <div id="map">
          <a href="/restaurants">Map</a>
        </div>
        <div id="about">
          <a href="/about-us">About us</a>
        </div>
      </div>
    </div>
    <div style="clear:both;"></div>
    <div id="food_list">
      <h2 id="fridge">Refrigerator:</h2>

      <div id="add">add item</div>
      <div style="clear:both;"></div>
      <div id="input">
        <form action="">
          <input name="ingredient" type="text">
        </form>
      </div>
      <div id="items">
        {%for item in fridge_items%}
          <ul>
            <li>{{item}}</li>
          </ul>
        {%endfor%}
      </div></br></br>
      <div style="clear:both;"></div>
    </div>
  </body>
</html>
