<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <script src="resources/navbar.js"></script>
    <link rel="stylesheet" href="resources/navbar.css"></link>

  </head>
     <link rel="stylesheet" href="resources/main.css"></link>
     <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<head>
</head>
  <body>
    <h1>Future Title</h1>
    <div class="search">
      <form action="http://www.example.com">
        <input type="text" name="search" placeholder"What you got......"/>
        <input type="submit" value="Add To My Fridge"/>
      </form>
    </div>
    <div id="login">
      <a href="/login">Login</a>
    </div>

    <div class="store_nav">
      <div id="disappear_ul">
        <div id="about">
          <a href="/about-us">About us</a>
        </div>
        <div id="home">
          <a href="/">Home</a>
        </div>
        <div id="recipes">
          <a href="/search">Recipes</a>
        </div>
        <div id="map">
          <a href="/restaurants">Map</a>
        </div>
        <div id="fridge">
          <a href="/fridge">My Refrigerator</a>
        </div>
      </div>
    </div>
    <div style="clear:both;"></div>
  </body>
</html>
