<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="resources/restaurants.css">
    <link rel="stylesheet" href="resources/main.css">
    <link rel="stylesheet" href="resources/navbar.css">
    <script src="resources/restaurants.js"></script>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  </head>
  <body>
    <div id="map"></div>
    <div id="right-panel">
      <h2>Results</h2>
      <ul id="places"></ul>
      <button id="more">More results</button>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAY0XzserzTUvRDFtJDWU_ex-a6IJ7dlEw&libraries=places&callback=initMap" async defer></script>
    <div class="store_nav">
      <div id="disappear_ul">
        <div id="home">
          <a href="/">Home</a>
        </div>
        <div id="recipes">
          <a href="/search">Recipes</a>
        </div>
        <div id="map">
          <a href="/restaurants">Map</a>
        </div>
        <div id="about">
          <a href="/about-us">About us</a>
        </div>
      </div>
    </div>
  </body>
</html>
