<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="resources/navbar.css">
    <link rel="stylesheet" href="resources/search.css">
    <link rel="stylesheet" href="resources/main.css">
    <title>MyFridge</title>
  </head>
  <body>
    <div id="login">
      <a href="/login">{{logon}}</a>
    </div></br></br>
    <h1>Recipes</h1>
    <div class="store_nav">
      <div id="disappear_ul">
        <div id="home">
          <a href="/">Home</a>
        </div>
        <div id="recipes">
          <a href="/search">Recipes</a>
        </div>
        <div id="map">
          <a href="/restaurants">Map</a>
        </div>
        <div id="about">
          <a href="/about-us">About us</a>
        </div>
      </div>
    </div>
    <div style="clear:both;"></div></br></br>

    <div id="searchResults">
      <div>
        <h3 id="failed">{{loginOrFail}}</h3>
      </div>
    </div>

  </body>
</html>
